@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">REST Client</h1>
    <p>This is a demonstration of a REST client. This example contains both a client side Javascript client and a server side C# client. Please note that it is preferred to use the asynchronous Javascript client in most scenarios. The menus above has examples of each type of endpoint the server has implemented.</p>
    <p>Please refer to the `readme.md` file for more information.</p>
</div>
